Prediciting GPA based on SAT scores

Import the CSV file

In [1]:
from google.colab import files
uploaded = files.upload()

Saving GPA-SAT.csv to GPA-SAT.csv

In [2]:
import pandas as pd
import io
data = pd.read_csv(io.BytesIO(uploaded['GPA-SAT.csv']))

Preprocessing

In [3]:
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [4]:
data.describe()

               SAT        GPA
count    84.000000  84.000000
mean   1845.273810   3.330238
std     104.530661   0.271617
min    1634.000000   2.400000
25%    1772.000000   3.190000
50%    1846.000000   3.380000
75%    1934.000000   3.502500
max    2050.000000   3.810000

In [5]:
x1=data['SAT']
y=data['GPA']

Creating a model

In [6]:
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [7]:
x=sm.add_constant(x1)

In [8]:
model=sm.OLS(y,x).fit()

In [9]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    GPA   R-squared:                       0.406
Model:                            OLS   Adj. R-squared:                  0.399
Method:                 Least Squares   F-statistic:                     56.05
Date:                Tue, 04 May 2021   Prob (F-statistic):           7.20e-11
Time:                        14:48:09   Log-Likelihood:                 12.672
No. Observations:                  84   AIC:                            -21.34
Df Residuals:                      82   BIC:                            -16.48
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2750      0.409      0.673      0.503      -0.538       1.088
SAT            0.0017      0.000      7.487      0.000       0.001       0.002
==============================================================================
Omnibus:                       12.839   Durbin-Watson:                   0.950
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               16.155
Skew:                          -0.722   Prob(JB):                     0.000310
Kurtosis:                       4.590   Cond. No.                     3.29e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.29e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Prediction

In [10]:
x_test=pd.DataFrame([1700,1765,1800,1834,1900,1980,2000,2014])
x_test=sm.add_constant(x_test)

In [11]:
pred=model.predict(x_test)

In [12]:
Summary=pd.DataFrame({'SAT':[1700,1765,1800,1834,1900,1980,2000,2014],'Predicted GPA':pred})
Summary

    SAT  Predicted GPA
0  1700       3.089710
1  1765       3.197330
2  1800       3.255279
3  1834       3.311572
4  1900       3.420848
5  1980       3.553303
6  2000       3.586416
7  2014       3.609596