Predicting real estate price

Import the Data

In [1]:
from google.colab import files
uploaded = files.upload()

Saving real_estate_price_size.csv to real_estate_price_size.csv

In [2]:
import pandas as pd
import io
data = pd.read_csv(io.BytesIO(uploaded['real_estate_price_size.csv']))

Preprocessing

In [3]:
data.head()

        price     size
0  234314.144   643.09
1  228581.528   656.22
2  281626.336   487.29
3  401255.608  1504.75
4  458674.256  1275.46

In [4]:
data.describe()

               price         size
count     100.000000   100.000000
mean   292289.470160   853.024200
std     77051.727525   297.941951
min    154282.128000   479.750000
25%    234280.148000   643.330000
50%    280590.716000   696.405000
75%    335723.696000  1029.322500
max    500681.128000  1842.510000

In [5]:
x1=data['size']
y=data['price']

Build a model

In [6]:
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [7]:
x=sm.add_constant(x1)

In [8]:
model=sm.OLS(y,x).fit()

In [9]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.745
Model:                            OLS   Adj. R-squared:                  0.742
Method:                 Least Squares   F-statistic:                     285.9
Date:                Tue, 04 May 2021   Prob (F-statistic):           8.13e-31
Time:                        14:52:29   Log-Likelihood:                -1198.3
No. Observations:                 100   AIC:                             2401.
Df Residuals:                      98   BIC:                             2406.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.019e+05   1.19e+04      8.550      0.000    7.83e+04    1.26e+05
size         223.1787     13.199     16.909      0.000     196.986     249.371
==============================================================================
Omnibus:                        6.262   Durbin-Watson:                   2.267
Prob(Omnibus):                  0.044   Jarque-Bera (JB):                2.938
Skew:                           0.117   Prob(JB):                        0.230
Kurtosis:                       2.194   Cond. No.                     2.75e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.75e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Prediction

In [10]:
x_test=[600,650,700,750,800,850]
x_test=sm.add_constant(x_test)

In [11]:
pred=model.predict(x_test)

In [12]:
Summary=pd.DataFrame({'Size':[600,650,700,750,800,850],'Predicted Price':pred})
Summary

   Size  Predicted Price
0   600    235819.847358
1   650    246978.784488
2   700    258137.721617
3   750    269296.658747
4   800    280455.595877
5   850    291614.533007