Predicting GPA based on SAT and Attendence

Import the Data

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving SAT GPA attendence.csv to SAT GPA attendence (2).csv

In [ ]:
import pandas as pd
import io
data = pd.read_csv(io.BytesIO(uploaded['SAT GPA attendence.csv']))

Preprocessing

In [ ]:
data.head()

    SAT   GPA Attendance
0  1714  2.40         No
1  1664  2.52         No
2  1760  2.54         No
3  1685  2.74         No
4  1693  2.83         No

In [ ]:
data.describe()

               SAT        GPA
count    84.000000  84.000000
mean   1845.273810   3.330238
std     104.530661   0.271617
min    1634.000000   2.400000
25%    1772.000000   3.190000
50%    1846.000000   3.380000
75%    1934.000000   3.502500
max    2050.000000   3.810000

In [ ]:
data['Attendance']=data['Attendance'].map({'Yes':1,'No':0})
data.head()

    SAT   GPA  Attendance
0  1714  2.40           0
1  1664  2.52           0
2  1760  2.54           0
3  1685  2.74           0
4  1693  2.83           0

In [ ]:
x1=data[['SAT','Attendance']]
y=data['GPA']

build a model

In [ ]:
import statsmodels.api as sm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
x=sm.add_constant(x1)

In [ ]:
model=sm.OLS(y,x).fit()

In [ ]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    GPA   R-squared:                       0.565
Model:                            OLS   Adj. R-squared:                  0.555
Method:                 Least Squares   F-statistic:                     52.70
Date:                Sun, 14 Feb 2021   Prob (F-statistic):           2.19e-15
Time:                        13:55:18   Log-Likelihood:                 25.798
No. Observations:                  84   AIC:                            -45.60
Df Residuals:                      81   BIC:                            -38.30
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6439      0.358      1.797      0.076      -0.069       1.357
SAT            0.0014      0.000      7.141      0.000       0.001       0.002
Attendance     0.2226      0.041      5.451      0.000       0.141       0.304
==============================================================================
Omnibus:                       19.560   Durbin-Watson:                   1.009
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.189
Skew:                          -1.028   Prob(JB):                     1.25e-06
Kurtosis:                       4.881   Cond. No.                     3.35e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.35e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Prediction

In [ ]:
x_test=pd.DataFrame({'SAT':[1500,1500,1700,1700,2000,2000,2100,2100],'Attendance':[0,1,0,1,0,1,0,1]})
x_test=sm.add_constant(x_test)
x_test

   const   SAT  Attendance
0    1.0  1500           0
1    1.0  1500           1
2    1.0  1700           0
3    1.0  1700           1
4    1.0  2000           0
5    1.0  2000           1
6    1.0  2100           0
7    1.0  2100           1

In [ ]:
pred=pd.DataFrame(model.predict(x_test),columns=['GPA'])

In [ ]:
Summary=x_test.copy()
Summary=Summary.drop('const',axis=1)
Summary=pd.concat([Summary,pred],axis=1)
Summary=Summary[['SAT','GPA','Attendance']]
Summary

    SAT       GPA  Attendance
0  1500  2.743553           0
1  1500  2.966197           1
2  1700  3.023513           0
3  1700  3.246157           1
4  2000  3.443454           0
5  2000  3.666098           1
6  2100  3.583434           0
7  2100  3.806078           1