Predicting realestate price based on size, year and view

Import the data

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving real_estate_price_size_year_view.csv to real_estate_price_size_year_view (2).csv

In [ ]:
import pandas as pd
import io
data = pd.read_csv(io.BytesIO(uploaded['real_estate_price_size_year_view.csv']))

Preprocessing

In [ ]:
data.head()

        price     size  year         view
0  234314.144   643.09  2015  No sea view
1  228581.528   656.22  2009  No sea view
2  281626.336   487.29  2018     Sea view
3  401255.608  1504.75  2015  No sea view
4  458674.256  1275.46  2009     Sea view

In [ ]:
data.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [ ]:
data['view']=data['view'].map({'Sea view':1,'No sea view':0})
data.head()

        price     size  year  view
0  234314.144   643.09  2015     0
1  228581.528   656.22  2009     0
2  281626.336   487.29  2018     1
3  401255.608  1504.75  2015     0
4  458674.256  1275.46  2009     1

In [ ]:
x1=data[['size','year','view']]
y=data['price']

Build a model

In [ ]:
import statsmodels.api as sm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
x=sm.add_constant(x1)

In [ ]:
model=sm.OLS(y,x).fit()

In [ ]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.913
Model:                            OLS   Adj. R-squared:                  0.910
Method:                 Least Squares   F-statistic:                     335.2
Date:                Mon, 15 Feb 2021   Prob (F-statistic):           1.02e-50
Time:                        03:51:06   Log-Likelihood:                -1144.6
No. Observations:                 100   AIC:                             2297.
Df Residuals:                      96   BIC:                             2308.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -5.398e+06   9.94e+05     -5.431      0.000   -7.37e+06   -3.43e+06
size         223.0316      7.838     28.455      0.000     207.473     238.590
year        2718.9489    493.502      5.510      0.000    1739.356    3698.542
view        5.673e+04   4627.695     12.258      0.000    4.75e+04    6.59e+04
==============================================================================
Omnibus:                       29.224   Durbin-Watson:                   1.965
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               64.957
Skew:                           1.088   Prob(JB):                     7.85e-15
Kurtosis:                       6.295   Cond. No.                     9.42e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.42e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Prediction

In [ ]:
x_test=pd.DataFrame({'size':[600,600,700,700,800,800,900,900],'year':[2010,2018,2010,2018,2010,2018,2010,2018],'view':[0,1,0,1,0,1,0,1]})
x_test=sm.add_constant(x_test)
x_test.head()

   const  size  year  view
0    1.0   600  2010     0
1    1.0   600  2018     1
2    1.0   700  2010     0
3    1.0   700  2018     1
4    1.0   800  2010     0

In [ ]:
pred=model.predict(x_test)
pred=pd.DataFrame({'predicted price':pred})

In [ ]:
Summary=x_test.copy()
Summary=Summary.drop('const',axis=1)
Summary=pd.concat([Summary,pred],axis=1)
Summary

   size  year  view  predicted price
0   600  2010     0    200992.056264
1   600  2018     1    279469.667172
2   700  2010     0    223295.218208
3   700  2018     1    301772.829116
4   800  2010     0    245598.380153
5   800  2018     1    324075.991060
6   900  2010     0    267901.542097
7   900  2018     1    346379.153004